.container {
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.trello {
  background-color: rgba(0, 184, 255, 0.18);
} 

.header {
  font-size: 2.5rem;
  padding: 10px;
  background-color: cadetblue;
  border: 3px solid green;
}

.new-todo {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 40px;
  width: 300%;
}

.box {
  margin-top: 3px;
  width: 200px;
  height: 100px;
  border: 3px solid green;
  list-style: none;
  padding: 8px;
  background-color: darkturquoise;
  font-size: 16px;
  color: white;
  text-align: left;
  border-radius: 6px !important;
}

.selected {
  background-color: bisque !important;
}
.details-box {
  padding: 10px;
  border-style: double;
  margin-top: 65px;
  margin-left: 75px;
  border-color: cadetblue;
  width: 442px;
  height: 350px;
  border-radius: 5px;
}

.selected-card-box {
  display: flex;
  margin: -3px;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.d-row-reverse {
  display: flex;
  flex-flow: row-reverse;
}

.mr-5 {
  margin-right: 5px;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}
